.container {
  padding: 1rem;
  display: flex;
  width:80%;
}

.expense-details__price {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #40005d;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px;
  text-align: center;
}
  
  .expense-details__title {
    color: #3a3a3a;
    font-size: 1rem;
    flex: 1;
    margin: 0 1rem;
    color: white;
    font-weight: bolder;
  }

  .expense-details__location {
    font-size: 1rem;
    flex: 1;
    margin: 0 1rem;
    color: white;
    font-weight: bold;
  }

